.profile {
    width: 88%;
    max-width: 880px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: center;
}

@media screen and (max-width: 999px) {
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
    }
}