.popup__close {
    background-color: rgba(0, 0, 0, .5);
    background-image: url(./../../../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: 480px;
    margin-top: -40px;
    border: 0;
    cursor: pointer;
}

.popup__close:hover {
    opacity: .6;
    transition: opacity ease-out .3s;
}

@media screen and (max-width: 999px) {
    .popup__close {
        width: 20px;
    }
}